USE [master]
GO
/****** Object:  Database [FurniMatchDb]    Script Date: 9/28/2026 11:41:13 PM ******/
CREATE DATABASE [FurniMatchDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FurniMatchDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FurniMatchDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FurniMatchDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FurniMatchDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FurniMatchDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FurniMatchDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[BannerId] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommissionConfigs]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommissionConfigs](
	[CommissionConfigId] [int] IDENTITY(1,1) NOT NULL,
	[CommissionRate] [decimal](5, 2) NOT NULL,
	[EffectiveFrom] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[PayoutDelayDays] [int] NOT NULL,
	[PayoutDelayHours] [int] NOT NULL,
	[PayoutDelayMinutes] [int] NOT NULL,
	[ReviewDeadlineDays] [int] NOT NULL,
 CONSTRAINT [PK_CommissionConfigs] PRIMARY KEY CLUSTERED 
(
	[CommissionConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EContracts]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EContracts](
	[EContractId] [int] IDENTITY(1,1) NOT NULL,
	[QuotationId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[DepositAmount] [decimal](18, 2) NOT NULL,
	[TermsAndConditions] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[SignedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_EContracts] PRIMARY KEY CLUSTERED 
(
	[EContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscrowTransactions]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscrowTransactions](
	[EscrowTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[EscrowWalletId] [int] NOT NULL,
	[EContractId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[OrderId] [int] NULL,
 CONSTRAINT [PK_EscrowTransactions] PRIMARY KEY CLUSTERED 
(
	[EscrowTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EscrowWallets]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EscrowWallets](
	[EscrowWalletId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AvailableBalance] [decimal](18, 2) NOT NULL,
	[FrozenBalance] [decimal](18, 2) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EscrowWallets] PRIMARY KEY CLUSTERED 
(
	[EscrowWalletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FooterSettings]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FooterSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[FacebookLink] [nvarchar](max) NULL,
	[InstagramLink] [nvarchar](max) NULL,
	[ZaloLink] [nvarchar](max) NULL,
	[HomeSubtitle] [nvarchar](max) NULL,
	[HomeTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_FooterSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDisputes]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDisputes](
	[OrderDisputeId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Reason] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AdminNote] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ResolvedAt] [datetime2](7) NULL,
	[EvidenceImages] [nvarchar](max) NULL,
	[SellerNote] [nvarchar](max) NULL,
	[ReturnReceivedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_OrderDisputes] PRIMARY KEY CLUSTERED 
(
	[OrderDisputeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[SizeName] [nvarchar](100) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderReviews]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](300) NULL,
	[MediaJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderReviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[RecipientName] [nvarchar](100) NOT NULL,
	[RecipientPhone] [nvarchar](20) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[OrderCode] [nvarchar](50) NOT NULL,
	[ItemsJson] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[OrderStatus] [nvarchar](30) NOT NULL,
	[MomoOrderId] [nvarchar](max) NULL,
	[MomoTransId] [nvarchar](max) NULL,
	[MomoQrCodeUrl] [nvarchar](max) NULL,
	[MomoDeeplink] [nvarchar](max) NULL,
	[MomoPayUrl] [nvarchar](max) NULL,
	[PaymentExpiredAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[PayoutStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentQrConfigs]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentQrConfigs](
	[ConfigId] [int] IDENTITY(1,1) NOT NULL,
	[PartnerCode] [nvarchar](100) NOT NULL,
	[AccessKey] [nvarchar](200) NOT NULL,
	[SecretKey] [nvarchar](500) NOT NULL,
	[EndpointUrl] [nvarchar](max) NOT NULL,
	[RedirectUrl] [nvarchar](max) NOT NULL,
	[IpnUrl] [nvarchar](max) NOT NULL,
	[PaymentTimeoutMinutes] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ProductImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[IsThumbnail] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[ProductImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductionDays] [int] NOT NULL,
	[CustomSizeSupported] [bit] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Height] [float] NULL,
	[Length] [float] NULL,
	[Width] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[VariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SizeId] [int] NULL,
	[MaterialId] [int] NULL,
	[Color] [nvarchar](50) NULL,
	[FrameType] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Height] [float] NULL,
	[Length] [float] NULL,
	[ProductionDays] [int] NOT NULL,
	[SizeName] [nvarchar](100) NULL,
	[Width] [float] NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuotationRequests]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuotationRequests](
	[QuotationRequestId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductType] [nvarchar](100) NULL,
	[Pattern] [nvarchar](100) NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Material] [nvarchar](100) NULL,
	[FrameType] [nvarchar](100) NULL,
	[Color] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[BudgetMin] [decimal](18, 2) NULL,
	[BudgetMax] [decimal](18, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiredAt] [datetime2](7) NULL,
	[Length] [float] NOT NULL,
 CONSTRAINT [PK_QuotationRequests] PRIMARY KEY CLUSTERED 
(
	[QuotationRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotations]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotations](
	[QuotationId] [int] IDENTITY(1,1) NOT NULL,
	[QuotationRequestId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProductionDays] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Quotations] PRIMARY KEY CLUSTERED 
(
	[QuotationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerDocuments]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerDocuments](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SellerDocuments] PRIMARY KEY CLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[SizeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[IsStandard] [bit] NOT NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ShopName] [nvarchar](max) NULL,
	[ShopDescription] [nvarchar](max) NULL,
	[IsCustomSizeSupported] [bit] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[ResetPasswordToken] [nvarchar](max) NULL,
	[ResetPasswordTokenExpiry] [datetime2](7) NULL,
	[AddressDetail] [nvarchar](max) NULL,
	[District] [nvarchar](max) NULL,
	[Province] [nvarchar](max) NULL,
	[Ward] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[CoverUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WithdrawalRequests]    Script Date: 9/28/2026 11:41:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WithdrawalRequests](
	[WithdrawalRequestId] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[BankAccountNumber] [nvarchar](50) NOT NULL,
	[BankAccountHolder] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AdminNote] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[PaymentReceiptUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_WithdrawalRequests] PRIMARY KEY CLUSTERED 
(
	[WithdrawalRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260919043712_InitialCreate', N'8.0.31')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260919050702_Epic1_GeolocationAnd3D', N'8.0.31')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260919052216_Epic2_ReverseAuctionAndNotifications', N'8.0.31')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [Description]) VALUES (1, N'Tủ Bếp', NULL)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description]) VALUES (2, N'Bàn Trà', NULL)
INSERT [dbo].[Categories] ([CategoryId], [Name], [Description]) VALUES (3, N'Sofa', NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[CommissionConfigs] ON 

INSERT [dbo].[CommissionConfigs] ([CommissionConfigId], [CommissionRate], [EffectiveFrom], [IsActive], [UpdatedAt], [Note], [PayoutDelayDays], [PayoutDelayHours], [PayoutDelayMinutes], [ReviewDeadlineDays]) VALUES (1, CAST(5.00 AS Decimal(5, 2)), CAST(N'2026-09-22T08:05:34.1305291' AS DateTime2), 1, CAST(N'2026-09-22T15:50:14.6318972' AS DateTime2), N'Giai ngan sau 3 ngay tranh chap', 3, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[CommissionConfigs] OFF
GO
SET IDENTITY_INSERT [dbo].[EscrowTransactions] ON 

INSERT [dbo].[EscrowTransactions] ([EscrowTransactionId], [EscrowWalletId], [EContractId], [Amount], [TransactionType], [Description], [CreatedAt], [OrderId]) VALUES (4, 4, NULL, CAST(1900.00 AS Decimal(18, 2)), N'RELEASE', N'Giải ngân đơn hàng FM202609229DCAAB (đã trừ 5.00% hoa hồng)', CAST(N'2026-09-22T15:51:39.2101084' AS DateTime2), 12)
INSERT [dbo].[EscrowTransactions] ([EscrowTransactionId], [EscrowWalletId], [EContractId], [Amount], [TransactionType], [Description], [CreatedAt], [OrderId]) VALUES (5, 4, NULL, CAST(1900.00 AS Decimal(18, 2)), N'RELEASE', N'Giải ngân đơn hàng FM202609221F6034 (đã trừ 5.00% hoa hồng)', CAST(N'2026-09-22T16:05:11.4398825' AS DateTime2), 13)
INSERT [dbo].[EscrowTransactions] ([EscrowTransactionId], [EscrowWalletId], [EContractId], [Amount], [TransactionType], [Description], [CreatedAt], [OrderId]) VALUES (6, 5, NULL, CAST(1757500.00 AS Decimal(18, 2)), N'RELEASE', N'Giải ngân đơn hàng FM20260927TEST99 (đã trừ 5.00% hoa hồng)', CAST(N'2026-09-27T15:36:12.6926935' AS DateTime2), 14)
SET IDENTITY_INSERT [dbo].[EscrowTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[EscrowWallets] ON 

INSERT [dbo].[EscrowWallets] ([EscrowWalletId], [UserId], [AvailableBalance], [FrozenBalance], [UpdatedAt]) VALUES (4, 7, CAST(2700.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-09-22T16:10:14.5336063' AS DateTime2))
INSERT [dbo].[EscrowWallets] ([EscrowWalletId], [UserId], [AvailableBalance], [FrozenBalance], [UpdatedAt]) VALUES (5, 5, CAST(1757500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-09-27T15:36:12.6915140' AS DateTime2))
INSERT [dbo].[EscrowWallets] ([EscrowWalletId], [UserId], [AvailableBalance], [FrozenBalance], [UpdatedAt]) VALUES (6, 4, CAST(1840000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-09-27T15:42:40.6477230' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EscrowWallets] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [IsRead], [CreatedAt]) VALUES (1, 7, N'Giải ngân thành công 💰', N'Đơn FM202609229DCAAB đã được giải ngân 1,900đ vào ví của bạn (sau khi trừ 5.00% hoa hồng).', 0, CAST(N'2026-09-22T15:51:39.2922034' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [IsRead], [CreatedAt]) VALUES (2, 7, N'Giải ngân thành công 💰', N'Đơn FM202609221F6034 đã được giải ngân 1,900đ vào ví của bạn (sau khi trừ 5.00% hoa hồng).', 0, CAST(N'2026-09-22T16:05:11.6129655' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [IsRead], [CreatedAt]) VALUES (3, 7, N'Yêu cầu rút tiền đã được duyệt', N'Yêu cầu rút 100đ về ngân hàng BIDV (12345678) đã được chuyển khoản thành công.', 0, CAST(N'2026-09-22T16:09:04.5009247' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDisputes] ON 

INSERT [dbo].[OrderDisputes] ([OrderDisputeId], [OrderId], [CustomerId], [Reason], [Status], [AdminNote], [CreatedAt], [ResolvedAt], [EvidenceImages], [SellerNote], [ReturnReceivedAt]) VALUES (1, 14, 4, N'Honge', N'RESOLVED', N'ok', CAST(N'2026-09-27T15:40:36.0767693' AS DateTime2), CAST(N'2026-09-27T15:41:12.7908185' AS DateTime2), N'["/uploads/disputes/dispute_14_891438c782a541f8acc36d0a21c041e1.jpg"]', NULL, NULL)
INSERT [dbo].[OrderDisputes] ([OrderDisputeId], [OrderId], [CustomerId], [Reason], [Status], [AdminNote], [CreatedAt], [ResolvedAt], [EvidenceImages], [SellerNote], [ReturnReceivedAt]) VALUES (2, 15, 4, N'ok', N'RETURN_RECEIVED', NULL, CAST(N'2026-09-27T15:54:08.8781728' AS DateTime2), NULL, N'["/uploads/disputes/dispute_15_d47f1ca124cb47b8b88f4c6237cc10d0.png"]', NULL, CAST(N'2026-09-28T10:02:36.5946582' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderDisputes] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([ProductImageId], [ProductId], [ImageUrl], [IsThumbnail], [DisplayOrder], [CreatedAt]) VALUES (11, 11, N'/uploads/products/tranh-cuu-ngu-sen-ngoc.jpg', 1, 0, CAST(N'2026-09-21T16:11:24.2222430' AS DateTime2))
INSERT [dbo].[ProductImages] ([ProductImageId], [ProductId], [ImageUrl], [IsThumbnail], [DisplayOrder], [CreatedAt]) VALUES (12, 12, N'/uploads/products/tranh-hoa-ban-tay-bac.jpg', 1, 0, CAST(N'2026-09-21T16:11:24.2512787' AS DateTime2))
INSERT [dbo].[ProductImages] ([ProductImageId], [ProductId], [ImageUrl], [IsThumbnail], [DisplayOrder], [CreatedAt]) VALUES (13, 13, N'/uploads/products/tranh-son-thuy-huu-tinh.jpg', 1, 0, CAST(N'2026-09-21T16:11:24.2517643' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [SizeId], [MaterialId], [Color], [FrameType], [Price], [Stock], [Height], [Length], [ProductionDays], [SizeName], [Width]) VALUES (31, 11, NULL, NULL, NULL, NULL, CAST(1450000.00 AS Decimal(18, 2)), 20, 60, 120, 3, N'Bộ 3 bức (40x60cm x3)', 5)
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [SizeId], [MaterialId], [Color], [FrameType], [Price], [Stock], [Height], [Length], [ProductionDays], [SizeName], [Width]) VALUES (32, 11, NULL, NULL, NULL, NULL, CAST(1850000.00 AS Decimal(18, 2)), 30, 70, 150, 3, N'Bộ 3 bức tiêu chuẩn (50x70cm x3)', 5)
INSERT [dbo].[ProductVariants] ([VariantId], [ProductId], [SizeId], [MaterialId], [Color], [FrameType], [Price], [Stock], [Height], [Length], [ProductionDays], [SizeName], [Width]) VALUES (33, 11, NULL, NULL, NULL, NULL, CAST(2450000.00 AS Decimal(18, 2)), 15, 90, 180, 4, N'Bộ 3 bức đại (60x90cm x3)', 5)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'ADMIN')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'CUSTOMER')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'SELLER')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SellerDocuments] ON 

INSERT [dbo].[SellerDocuments] ([DocumentId], [UserId], [ImageUrl], [CreatedAt]) VALUES (1, 6, N'/uploads/seller-docs/b9ffeaff-dde3-426b-a8ad-06ae73e4c866_3.jpg', CAST(N'2026-09-21T17:58:52.4072047' AS DateTime2))
INSERT [dbo].[SellerDocuments] ([DocumentId], [UserId], [ImageUrl], [CreatedAt]) VALUES (2, 7, N'/uploads/seller-docs/3f464549-95dd-4d7b-af4c-4f7ebf37771b_3.jpg', CAST(N'2026-09-21T17:59:43.2833397' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SellerDocuments] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [PasswordHash], [RoleId], [CreatedAt], [ShopName], [ShopDescription], [IsCustomSizeSupported], [Status], [Latitude], [Longitude], [ResetPasswordToken], [ResetPasswordTokenExpiry], [AddressDetail], [District], [Province], [Ward], [AvatarUrl], [CoverUrl]) VALUES (1, N'System Administrator', N'admin@furnimatch.com', N'0123456789', N'$2a$11$0QF7973rHiFSkhVY57PSGeQahkzOZSfvY3FtBIJ/xQ9WrBKT48nWq', 1, CAST(N'2026-09-21T15:25:47.8748419' AS DateTime2), NULL, NULL, 0, N'ACTIVE', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WithdrawalRequests] ON 

INSERT [dbo].[WithdrawalRequests] ([WithdrawalRequestId], [SellerId], [Amount], [BankName], [BankAccountNumber], [BankAccountHolder], [Note], [Status], [AdminNote], [CreatedAt], [ProcessedAt], [PaymentReceiptUrl]) VALUES (1, 7, CAST(1000.00 AS Decimal(18, 2)), N'BIDV', N'0123456789', N'Nguyen Minh Cong', N'', N'APPROVED', NULL, CAST(N'2026-09-22T15:54:10.1105180' AS DateTime2), CAST(N'2026-09-22T15:54:28.0588037' AS DateTime2), NULL)
INSERT [dbo].[WithdrawalRequests] ([WithdrawalRequestId], [SellerId], [Amount], [BankName], [BankAccountNumber], [BankAccountHolder], [Note], [Status], [AdminNote], [CreatedAt], [ProcessedAt], [PaymentReceiptUrl]) VALUES (2, 7, CAST(100.00 AS Decimal(18, 2)), N'BIDV', N'12345678', N'abc', N'', N'APPROVED', NULL, CAST(N'2026-09-22T16:06:00.9090116' AS DateTime2), CAST(N'2026-09-22T16:09:04.4757348' AS DateTime2), NULL)
INSERT [dbo].[WithdrawalRequests] ([WithdrawalRequestId], [SellerId], [Amount], [BankName], [BankAccountNumber], [BankAccountHolder], [Note], [Status], [AdminNote], [CreatedAt], [ProcessedAt], [PaymentReceiptUrl]) VALUES (3, 7, CAST(100.00 AS Decimal(18, 2)), N'abc', N'1234567', N'av', N'', N'REJECTED', N'sai stk', CAST(N'2026-09-22T16:09:41.3589841' AS DateTime2), CAST(N'2026-09-22T16:10:14.5337838' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[WithdrawalRequests] OFF
GO
/****** Object:  Index [IX_EContracts_CustomerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EContracts_CustomerId] ON [dbo].[EContracts]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EContracts_QuotationId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EContracts_QuotationId] ON [dbo].[EContracts]
(
	[QuotationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EContracts_SellerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EContracts_SellerId] ON [dbo].[EContracts]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EscrowTransactions_EContractId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EscrowTransactions_EContractId] ON [dbo].[EscrowTransactions]
(
	[EContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EscrowTransactions_EscrowWalletId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EscrowTransactions_EscrowWalletId] ON [dbo].[EscrowTransactions]
(
	[EscrowWalletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EscrowTransactions_OrderId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EscrowTransactions_OrderId] ON [dbo].[EscrowTransactions]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EscrowWallets_UserId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EscrowWallets_UserId] ON [dbo].[EscrowWallets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDisputes_CustomerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDisputes_CustomerId] ON [dbo].[OrderDisputes]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDisputes_OrderId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDisputes_OrderId] ON [dbo].[OrderDisputes]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_VariantId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_VariantId] ON [dbo].[OrderItems]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderReviews_CustomerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReviews_CustomerId] ON [dbo].[OrderReviews]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderReviews_OrderId_ProductId_CustomerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OrderReviews_OrderId_ProductId_CustomerId] ON [dbo].[OrderReviews]
(
	[OrderId] ASC,
	[ProductId] ASC,
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderReviews_ProductId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderReviews_ProductId] ON [dbo].[OrderReviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Orders_OrderCode]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Orders_OrderCode] ON [dbo].[Orders]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_SellerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_SellerId] ON [dbo].[Orders]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_ProductId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_ProductId] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_SellerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_SellerId] ON [dbo].[Products]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_MaterialId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_MaterialId] ON [dbo].[ProductVariants]
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_ProductId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_ProductId] ON [dbo].[ProductVariants]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariants_SizeId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariants_SizeId] ON [dbo].[ProductVariants]
(
	[SizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuotationRequests_CategoryId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuotationRequests_CategoryId] ON [dbo].[QuotationRequests]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QuotationRequests_CustomerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuotationRequests_CustomerId] ON [dbo].[QuotationRequests]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quotations_QuotationRequestId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quotations_QuotationRequestId] ON [dbo].[Quotations]
(
	[QuotationRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quotations_SellerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Quotations_SellerId] ON [dbo].[Quotations]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SellerDocuments_UserId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_SellerDocuments_UserId] ON [dbo].[SellerDocuments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_RoleId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WithdrawalRequests_SellerId]    Script Date: 9/28/2026 11:41:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_WithdrawalRequests_SellerId] ON [dbo].[WithdrawalRequests]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommissionConfigs] ADD  DEFAULT ((0)) FOR [PayoutDelayDays]
GO
ALTER TABLE [dbo].[CommissionConfigs] ADD  CONSTRAINT [DF_CommissionConfigs_PayoutDelayHours]  DEFAULT ((0)) FOR [PayoutDelayHours]
GO
ALTER TABLE [dbo].[CommissionConfigs] ADD  CONSTRAINT [DF_CommissionConfigs_PayoutDelayMinutes]  DEFAULT ((0)) FOR [PayoutDelayMinutes]
GO
ALTER TABLE [dbo].[CommissionConfigs] ADD  DEFAULT ((0)) FOR [ReviewDeadlineDays]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderCode]  DEFAULT ('') FOR [OrderCode]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_ItemsJson]  DEFAULT ('[]') FOR [ItemsJson]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Subtotal]  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_ShippingFee]  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PaymentStatus]  DEFAULT ('PENDING') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderStatus]  DEFAULT ('CONFIRMED') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [PayoutStatus]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [ProductionDays]
GO
ALTER TABLE [dbo].[EContracts]  WITH CHECK ADD  CONSTRAINT [FK_EContracts_Quotations_QuotationId] FOREIGN KEY([QuotationId])
REFERENCES [dbo].[Quotations] ([QuotationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EContracts] CHECK CONSTRAINT [FK_EContracts_Quotations_QuotationId]
GO
ALTER TABLE [dbo].[EContracts]  WITH CHECK ADD  CONSTRAINT [FK_EContracts_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EContracts] CHECK CONSTRAINT [FK_EContracts_Users_CustomerId]
GO
ALTER TABLE [dbo].[EContracts]  WITH CHECK ADD  CONSTRAINT [FK_EContracts_Users_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EContracts] CHECK CONSTRAINT [FK_EContracts_Users_SellerId]
GO
ALTER TABLE [dbo].[EscrowTransactions]  WITH CHECK ADD  CONSTRAINT [FK_EscrowTransactions_EContracts_EContractId] FOREIGN KEY([EContractId])
REFERENCES [dbo].[EContracts] ([EContractId])
GO
ALTER TABLE [dbo].[EscrowTransactions] CHECK CONSTRAINT [FK_EscrowTransactions_EContracts_EContractId]
GO
ALTER TABLE [dbo].[EscrowTransactions]  WITH CHECK ADD  CONSTRAINT [FK_EscrowTransactions_EscrowWallets_EscrowWalletId] FOREIGN KEY([EscrowWalletId])
REFERENCES [dbo].[EscrowWallets] ([EscrowWalletId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EscrowTransactions] CHECK CONSTRAINT [FK_EscrowTransactions_EscrowWallets_EscrowWalletId]
GO
ALTER TABLE [dbo].[EscrowTransactions]  WITH CHECK ADD  CONSTRAINT [FK_EscrowTransactions_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EscrowTransactions] CHECK CONSTRAINT [FK_EscrowTransactions_Orders_OrderId]
GO
ALTER TABLE [dbo].[EscrowWallets]  WITH CHECK ADD  CONSTRAINT [FK_EscrowWallets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EscrowWallets] CHECK CONSTRAINT [FK_EscrowWallets_Users_UserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[OrderDisputes]  WITH CHECK ADD  CONSTRAINT [FK_OrderDisputes_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDisputes] CHECK CONSTRAINT [FK_OrderDisputes_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDisputes]  WITH CHECK ADD  CONSTRAINT [FK_OrderDisputes_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OrderDisputes] CHECK CONSTRAINT [FK_OrderDisputes_Users_CustomerId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_ProductVariants_VariantId] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([VariantId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_ProductVariants_VariantId]
GO
ALTER TABLE [dbo].[OrderReviews]  WITH CHECK ADD  CONSTRAINT [FK_OrderReviews_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderReviews] CHECK CONSTRAINT [FK_OrderReviews_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderReviews]  WITH CHECK ADD  CONSTRAINT [FK_OrderReviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderReviews] CHECK CONSTRAINT [FK_OrderReviews_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderReviews]  WITH CHECK ADD  CONSTRAINT [FK_OrderReviews_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OrderReviews] CHECK CONSTRAINT [FK_OrderReviews_Users_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_SellerId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Users_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Users_SellerId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Materials_MaterialId] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Materials_MaterialId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products_ProductId]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Sizes_SizeId] FOREIGN KEY([SizeId])
REFERENCES [dbo].[Sizes] ([SizeId])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Sizes_SizeId]
GO
ALTER TABLE [dbo].[QuotationRequests]  WITH CHECK ADD  CONSTRAINT [FK_QuotationRequests_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuotationRequests] CHECK CONSTRAINT [FK_QuotationRequests_Categories_CategoryId]
GO
ALTER TABLE [dbo].[QuotationRequests]  WITH CHECK ADD  CONSTRAINT [FK_QuotationRequests_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[QuotationRequests] CHECK CONSTRAINT [FK_QuotationRequests_Users_CustomerId]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [FK_Quotations_QuotationRequests_QuotationRequestId] FOREIGN KEY([QuotationRequestId])
REFERENCES [dbo].[QuotationRequests] ([QuotationRequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [FK_Quotations_QuotationRequests_QuotationRequestId]
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD  CONSTRAINT [FK_Quotations_Users_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Quotations] CHECK CONSTRAINT [FK_Quotations_Users_SellerId]
GO
ALTER TABLE [dbo].[SellerDocuments]  WITH CHECK ADD  CONSTRAINT [FK_SellerDocuments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerDocuments] CHECK CONSTRAINT [FK_SellerDocuments_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
ALTER TABLE [dbo].[WithdrawalRequests]  WITH CHECK ADD  CONSTRAINT [FK_WithdrawalRequests_Users_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WithdrawalRequests] CHECK CONSTRAINT [FK_WithdrawalRequests_Users_SellerId]
GO
USE [master]
GO
